*{
  margin: 0;
}

h1, h2, h3 {
  font-weight: 400 !important;
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}

h4 {
  font-weight: 500 !important;
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}

body{
  --text-size-heading-1: 56px;
  --text-size-heading-2: 38px;
  --text-size-heading-3: 28px;
  --text-size-heading-4: 24px;

  --text-size-paragraph-1: 18px;
  --text-size-paragraph-2: 16px;
  --text-size-paragraph-3: 14px;
  --text-size-paragraph-4: 12px;

  @media (max-width: 1100px) {
    --text-size-heading-1: 44px;
    --text-size-heading-2: 32px;
    --text-size-heading-3: 24px;
    --text-size-heading-4: 18px;

    --text-size-paragraph-1: 16px;
    --text-size-paragraph-2: 14px;
    --text-size-paragraph-3: 12px;
    --text-size-paragraph-4: 10px;
  }

  --color-background-base: #FFFFFF;
  --color-primary: #FF1935;
  --color-text: #2F3342;
  --color-text-invert: #FFFFFF;
  --color-grey: #BFCADA;
}